/node_modules
/oh_modules
/local.properties
/.idea
**/build
**/.preview
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer

/mock_server/node_modules/

_generated
**/route_map.json
**/router_map.json
